<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Node.js upload & resize multiple files</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <style>
    div.preview-images>img {
      width: 30%;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 mt-3">
        <h4>Node.js upload & resize multiple files - bezkoder.com</h4>

        <form id="myForm" class="mt-4" action="/produk/uploadImage" method="POST" enctype="multipart/form-data">
          <input type="file" name="images" multiple id="input-images" class="form-control-file border" />
          <div class="text-center">
            <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
              width="200px" alt="profile">
          </div>

          <div class="mb-3">
            <input type="text" class="form-control" type="text"  name="nama_produk" aria-describedby="emailHelp"
              placeholder="Nama Produk">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" type="text"  name="harga" aria-describedby="emailHelp"
              placeholder="Harga Produk">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" type="text"  name="diskon" aria-describedby="emailHelp"
              placeholder="diskon">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" type="text"  name="kode" aria-describedby="emailHelp"
              placeholder="kode">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" type="date"   name="tanggal" aria-describedby="emailHelp"
              placeholder="Tanggal">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" type="textarea"  name="keterangan" aria-describedby="emailHelp"
              placeholder="keterangan">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" type="textarea"  name="spesifikasi" aria-describedby="emailHelp"
              placeholder="Spesifikasi">
          </div>
        
          <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>

        <form class="card-body cardbody-color p-lg-5" id="formKu" method="POST" id="myForm" action="/produk/addProduk">
    
          
          <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100">Login</button></div>
         
        </form>
        <button id=”submit” onCLick=handleMultipleSubmit() name=”submit_changes”>Save Changes</button>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-12">
        <div class="preview-images"></div>
      </div>
    </div>
  </div>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>
     function handleMultipleSubmit(){
      document.getElementById("formKu").submit();
      // document.getElementById("myForm").submit();

    // document.getElementsById("form3").submit();
  }
    

    $(document).ready(function () {
      let imagesPreview = function (input, placeToInsertImagePreview) {
        if (input.files) {
          let filesAmount = input.files.length;
          for (i = 0; i < filesAmount; i++) {
            let reader = new FileReader();
            reader.onload = function (event) {
              $($.parseHTML("<img>"))
                .attr("src", event.target.result)
                .appendTo(placeToInsertImagePreview);
            };
            reader.readAsDataURL(input.files[i]);
          }
        }
      };
      $("#input-images").on("change", function () {
        imagesPreview(this, "div.preview-images");
      });
    });
  </script>
</body>

</html>